:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #545454;
  --color-bg-pop-up: rgba(0, 0, 0, .5);
  --opacity-low: .6;
  --transition-button: all .5s ease;
}


.page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-black);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
