.element__like-button {
  margin-left: auto;
  width: 22px;
  height: 19px;
  align-self: center;
  background: url(../../../images/element__like-button.svg);
}

.element__like-button:hover {
  opacity: .5;
}
